{% extends 'recovery/layout.html' %}



{% block body %}

{% load static %}
<nav>
    <i class="fa-solid fa-bars"></i>
    <h2>Rubee</h2>
    <button>Book Appt</button>
</nav>
<div class="landing">
    <div class="hero">
        <div class="message">
            <h1>Elite Sports Recovery</h1>
            <h3>Reach your fitness goals faster with <br/>  <span class="charge">elite</span> recovery assistance</h3>
            <div class="arrow_box">
                <i class="fa-solid fa-angle-down more_arrow"></i>
            </div>

        </div>
    </div>
    <div class="equipment">
        <h2>Elite Level Equipment</h2>
        <p>Get access to the same top-grade equipment that professional athletes use</p>
        <div class="equipment_cards">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
        </div>
    </div>
    <div class="packages" >
        <h2>Recovery Autonomy</h2>
        <p>You can choose to use our equipment on your own or have a certified professional assist you with our <br/><span>PRO </span> membership programs</p>
    </div>
</div>
{% endblock %}